.main {
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
    padding: 14px;
    border: 2px solid blanchedalmond;
}

.useStateBtn{
    background-color: rgb(5, 5, 21);
    color: wheat;
    padding: 20px;
    font-size: medium;
    margin: 5px;
    font-weight: bold;
}

.useStateHeading {
color: black;
}