.App {
  text-align: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: auto;
}

.header {
  background-color: whitesmoke;
  padding: 10px;
}

.poster {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

input[type=textqq], selecta {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}